#leftCont {
	float: left;
	width: 67%;
}


#leftCont>div {
	text-align: center;
	margin-bottom: 16px;
}
#leftCont>div img{
	margin: 0 15px;
	border: thin solid #fff;
	padding: 4px;
}

#aside {
	float: right;
	width: 30%;
}

#aside .article {
	margin-bottom: 35px;
}

#aside h3 {
	color: #fa7403;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 20px 5px;
}
#aside h3+h3 {
	color: #3399fe;
}
#aside p {
	font-size: 0.9rem;
}